body {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f3f5f2;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
  }

.header {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -4rem;
    z-index: 2;
  }
.title {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 50vw;
    font-size: 10rem; 
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin: 0; 
  }
.stacking-container {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin-left: -8rem;
    margin-top: 6rem;
  }
.navigation {
    /* border: 2px solid red; */
    display: flex;
    width: 20vw;
    justify-content: center;
} 
.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.navigation li {
    list-style: none;
    font-size: 1.3rem; 
}
.navigation li a {
    text-decoration: none;
    color: rgb(179, 81, 81);
}
.navigation li a:hover {
    color: rgb(167, 167, 167);
}
.subtitle, .description {
    width: 30vw;
    height: 30vh;
    margin: 0;
}
.subtitle {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem; 
    font-weight: bold;
    color: #333;
  }
.description {
    /* border: 2px solid yellow; */
    width: 26rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1rem; 
    color: #555;
    margin-top: -14rem;
  }

.product-section {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    height: 75vh;
    width: 100%;
    margin-top: -27rem;
  }
.product-image {
    /* border: 2px solid blue; */
    position: relative;
    height: 75vh;
    width: 100vh;
    margin-right: 16rem;
    z-index: 1;
  }
  /* .product-background {
    background: url(./assets/whiteimages/pexels-2148569065-30249928.jpg);
    z-index: -1;
    height: 50vh;
    width: 100vw;
    margin-top: -100rem;
  } */

.slider {
  border: red 2px solid;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 20% 80%, transparent);
  pointer-events: visible;
  margin-top: -8rem;
}
.slider .list {
  display: flex;
  list-style: none;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}
@keyframes autoRun {
  from{
    left: 100%;
  }to{
    left: calc(var(--width) * -1);
  }
}
/* .slider:hover .item {
  animation-play-state: paused!important;
} */




